
.text-decorator-none{
    text-decoration: none;
}
.imgb{ 
   
    background-image: url("/src/components/estaticos/image/matrix.webp") !important;
    background-repeat:no-repeat ;
  
     background-size: cover ;
     background-position:center;
  
}
.grid{
    background-color: rgb(111, 255, 111);
    border-top-left-radius: 3300px;
    border-top-right-radius: 260px;
    border-bottom-right-radius: 3000px;
}
.botton{
    background-color: black !important;
}
.txt{
    color: rgb(103, 255, 103) !important;
    text-decoration: none !important;
}
