.imagem2{
    background-image: url("https://cdn.discordapp.com/attachments/1014550882538504273/1051847130899292200/cadastroimg.webp") !important;
    background-repeat:no-repeat ;
    width:100vh;
    min-height:100vh;
     background-size: cover ;
     background-position:center;
  
}
.texto2{
    font-weight: bold !important;
}
.btnCancelar{
    margin-right: 20px !important;
}